body {
    background-image: url("./1477298.jpg");
}
#calculator {
    height: 480px;
    width: 413px;
    margin: auto;
    margin-top: 100px;
    background-color: black;
    opacity: 0.9;
}

#text-field {
    width: 404px;
    height: 80px;
    opacity: 0.7;
    font-size: 32px;
    font-family: 'Merriweather', serif;
    text-align: right;
}
.btn {
    width: 100px;
    height: 80px;
    opacity: 0.7;
    font-size: 40px;
    font-family: 'Merriweather', serif;
}
.btnEqual {
    width: 413px;
    height: 80px;
    opacity: 0.7;
    font-size: 40px;
    font-family: 'Merriweather', serif;
}
.btn:hover {
    background-color : rgb(160, 160, 33);
}
.btnEqual:hover {
    background-color: rgb(129, 199, 129);
}
#footer {
    text-align: center;
    color: rgb(196, 67, 67);
    font-size: 20px;
}